
@{
    ViewData["Title"] = "Test";
}

<center>
    <h1>Test Department</h1>

    <center>
        <h1>@ViewBag.x</h1>
        <h1>@ViewData["y"]</h1>
        <h1>@TempData["z"]</h1>
    </center>
</center>

